[Unit]
Description=Control timing to defragment ZRAM memory

[Timer]
OnBootSec=5min
OnUnitActiveSec=1min
RandomizedDelaySec=6s
Unit=zram-compaction.service

[Install]
WantedBy=multi-user.target
