[Unit]
Description=Recompress some pages of the ZRAM swap device
Documentation="https://docs.kernel.org/admin-guide/blockdev/zram.html#recompression"
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c "time printf max_pages=$(grep Percpu /proc/meminfo | egrep -o '[0-9]*') >/sys/block/zram0/recompress"
