[Unit]
Description=Defragment ZRAM memory
Documentation="https://docs.kernel.org/admin-guide/blockdev/zram.html#stats"
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c "printf ' ' >/sys/block/zram*/compact"
